---
name: Release
'on':
  workflow_dispatch:
    branches:
      - main
jobs:
  release:
    name: Semver release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git config --global user.email github-actions@github.com
          git config --global user.name github-actions
      - name: Cocogitto release
        id: release
        uses: oknozor/cocogitto-action@v3.4
        with:
          release: true
          git-user: github-actions
          git-user-email: github-actions@github.com
      - name: Release new version
        run: './.github/workflows/release.sh ${{ steps.release.outputs.version }}'
      - uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: "chore: update version and docs for ${{ steps.release.outputs.version }} version"
          add: '["README.md", "src/version.ts"]'

      - name: Upload github release
        uses: softprops/action-gh-release@v1
        with:
          body_path: GITHUB_CHANGELOG.md
          tag_name: '${{ steps.release.outputs.version }}'
